body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;

}

.header{
    width: 100vw;
    height: 400px;
    background: url(images/img.png) left center;

}

.nav{     /*导航栏区*/
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F3F3F3;
    opacity: 0.8;
    position: fixed;
    background-color: white;
    border-bottom: 2px solid black;

}

.nav a{
    color: black;
    text-decoration: none;
    padding: 0px 20px;
    font-size: large;
    font-weight: 700;

}

.nav a:hover{
    color: #4A78BC;

}

.navLeft{
    padding-left: 50px;

}

.navRight{
    padding-right: 50px;

}

.title{
    height: 350px;
    display: flex;
    justify-content: center;

}

.name{
    position: absolute;
    color: white;
    font-size: 5em;
    padding-top: 50px;

}

.intro{
    position: absolute;
    color: white;
    font-size: 1em;
    padding-top: 250px;

}

.content{
    display: flex;
    width: 70vw;
    margin: 0 auto;
    height: 100%;
    display: flex;
    text-align: left;

}

.left{

    width: 70%;

}

.first{
    border-bottom: 2px solid #EDEDED;

}

.first h2{
    font-size: 1.5em;

}

.first span{
    color: #B1B1B1;
    line-height: 2;

}

.right{
    padding-left: 50px;
    width: 30%;    

}

.rightul{

}

.right ul{
    padding-top: 20px;

}

.right a{
    text-decoration: none;
    color: purple;

}

/*底栏*/

.author{
    width: 100vw;
    height: 30px;

}

.www{
    width: 100%;
    text-align: center;
    
}

.author a{
    color: #B1B1B1;
    text-decoration: none;

}

.author a:hover{
    font-size: 1.5em;
    color:#4A78BC;

}

.authortitle{
    text-align: center;

}

.author1{
    color: #B1B1B1;
    text-align: center;

}
